body {
    background-image: url("../Content/fond.png");
    font-family: "PT Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body > section {
    margin: 0 auto;
    width: 900px;
}

::-ms-clear { display: none; }

#ui-datepicker-div { font-size: 12px; }

.sizeMain { font-size: 0.879em; }

.displayNone { display: none; }

.displayListItem { display: list-item; }

.floatRight { float: right; }

.floatLeft { float: left; }

section header {
    color: #6f6a6a;
    padding: 10px 20px;
    width: 900px;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.field {
    clear: both;
    margin-bottom: 13.5px;
    text-align: right;
    vertical-align: middle;
}

.personalData:nth-child(2) { width: 467px; }

.personalData label {
    float: left;
    margin-top: 5px;
}

.personalData .validation {
    color: rgba(204, 0, 0, 0.8);
    display: inline-block;
    margin-left: 20px;
    min-width: 202px;
    vertical-align: text-bottom;
    visibility: hidden;
}

.layout-column-1 { margin-right: 25px; }

.pageTitle {
    display: inline;
    font-size: 1.5em;
    font-weight: normal;
    vertical-align: middle;
}

.layout-column-2 .groups {
    margin-top: 5px;
    padding: 5px 10px 5px 10px;
}

.layout-column-2 .groups:hover {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background: rgba(111, 106, 106, 0.1);
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

.groupsList-active {
    background: rgba(111, 106, 106, 0.1);
    border-radius: 3px;
}

.layout-column-2 .group { display: inline; }

.layout-column-2 .groupList {
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 2px #bdbdbd;
    padding: 0;
    position: absolute;
    z-index: 100;
}

.groupList ul {
    margin: 0;
    padding: 0;
}

.groupList .styleLi {
    list-style: none;
    padding: 3px 25px 3px 20px;
}

.groupList .styleLi:hover {
    background: rgba(45, 137, 213, 0.6);
    cursor: pointer;
}

.button-print {
    background: #dfdfdf; /* for non-css3 browsers */
    background: -webkit-linear-gradient(top, #fdfdfd, #dfdfdf); /* для webkit-браузеров */
    background: -moz-linear-gradient(top, #fdfdfd, #dfdfdf); /* для firefox 3.6+ */
    background: -o-linear-gradient(top, #fdfdfd, #dfdfdf); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd, #dfdfdf); /* для IE10+ */
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 1px #bdbdbd;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdfdfd", endColorstr="#dfdfdf"); /* для IE6-9 */
    padding: 2px 15px 0 0;
    text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

.button-print:hover {
    background: #dfdfdf; /* for non-css3 browsers */
    background: -webkit-linear-gradient(top, #f2f2f2, #c8c8c8); /* для webkit-браузеров */
    background: -moz-linear-gradient(top, #f2f2f2, #c8c8c8); /* для firefox 3.6+ */
    background: -o-linear-gradient(top, #f2f2f2, #c8c8c8); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f2f2, #c8c8c8); /* для IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2", endColorstr="#c8c8c8"); /* для IE6-9 */
}

.button-print:active {
    background: #d9d9d9;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.buttons {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: block;
    user-select: none;
}

.content {
    background: #f1f1f1; /* for non-css3 browsers */
    background: -webkit-linear-gradient(top, #fff 0, #fff 7%, #f1f1f1 20%, #f1f1f1 80%, #fff 93%, #fff 100%); /* для webkit-браузеров */
    background: -moz-linear-gradient(top, #fff 0, #fff 7%, #f1f1f1 20%, #f1f1f1 80%, #fff 93%, #fff 100%); /* для firefox 3.6+ */
    background: -o-linear-gradient(top, #fff 0, #fff 7%, #f1f1f1 20%, #f1f1f1 80%, #fff 93%, #fff 100%); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0, #fff 7%, #f1f1f1 20%, #f1f1f1 80%, #fff 93%, #fff 100%); /* для IE10+ */
    border-top: 10px solid #2d89d5;
    box-shadow: 0 0 5px #d4d0d0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff 0%, #fff 7%, #f1f1f1 20%", endColorstr="#f1f1f1 80%, #fff 93%, #fff 100%"); /* для IE6-9 */
    margin-bottom: 50px;
    min-height: 300px;
    padding: 15px;
    padding-right: 25px;
    padding-top: 0;
    width: 900px;
}

.content .link {
    color: #2d89d5;
    margin-left: 0;
    text-decoration: underline;
}

.content .link:hover { cursor: pointer; }

header > span {
    color: #2d89d5;
    margin-left: -15px;
    margin-top: 0;
    padding: 0;
}

h3 {
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    margin-left: -15px;
    margin-top: 5px;
    padding: 0;
}

aside {
    margin-top: 20px;
    width: 160px;
    z-index: 0;
}

aside .buttons {
    border-radius: 3px;
    box-shadow: 0 1px 5px #bdbdbd;
    min-width: 155px;
    padding: 6px 5px;
    text-align: left;
}

.personalData input[type="text"]:focus {
    box-shadow: 0 0 3px #66b3f3;
    outline: 2px solid #66b3f3;
}

.personalData input[type="text"].validationFocus:focus {
    box-shadow: 0 0 1px rgba(204, 0, 0, 0.8);
    outline: 2px solid rgba(204, 0, 0, 0.8);
}

.button-addStudent {
    background: #dfdfdf; /* for non-css3 browsers */
    background: -webkit-linear-gradient(top, #fdfdfd, #dfdfdf); /* для webkit-браузеров */
    background: -moz-linear-gradient(top, #fdfdfd, #dfdfdf); /* для firefox 3.6+ */
    background: -o-linear-gradient(top, #fdfdfd, #dfdfdf); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd, #dfdfdf); /* для IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdfdfd", endColorstr="#dfdfdf"); /* для IE6-9 */
    text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

.button-addStudent:hover {
    background: #dfdfdf; /* for non-css3 browsers */
    background: -webkit-linear-gradient(top, #f2f2f2, #c8c8c8); /* для webkit-браузеров */
    background: -moz-linear-gradient(top, #f2f2f2, #c8c8c8); /* для firefox 3.6+ */
    background: -o-linear-gradient(top, #f2f2f2, #c8c8c8); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f2f2, #c8c8c8); /* для IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2", endColorstr="#c8c8c8"); /* для IE6-9 */
}

.button-addStudent:active {
    background: #d9d9d9;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.button-saveСhanges {
    background: #dfdfdf; /* for non-css3 browsers */
    background: -webkit-linear-gradient(top, #2d89d5, #2571b1); /* для webkit-браузеров */
    background: -moz-linear-gradient(top, #2d89d5, #2571b1); /* для firefox 3.6+ */
    background: -o-linear-gradient(top, #2d89d5, #2571b1); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top, #2d89d5, #2571b1); /* для IE10+ */
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d89d5", endColorstr="#2571b1"); /* для IE6-9 */
    margin-top: 10px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.button-saveСhanges:hover {
    background: #dfdfdf; /* for non-css3 browsers */
    background: -webkit-linear-gradient(top, #2d89d5 0, #2272b5 35%); /* для webkit-браузеров */
    background: -moz-linear-gradient(top, #2d89d5 0, #2272b5 35%); /* для firefox 3.6+ */
    background: -o-linear-gradient(top, #2d89d5 0, #2272b5 35%); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top, #2d89d5 0, #2272b5 35%); /* для IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d89d5 0%", endColorstr="#2272b5 35%"); /* для IE6-9 */
}

.button-saveСhanges:active {
    background: #2d89d5;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.main-menu span:first-child {
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(45, 137, 213, 1) 0, rgba(45, 137, 213, 1) 65%, rgba(45, 137, 213, 0.3) 75%, rgba(45, 137, 213, 0) 85%); /* для webkit-браузеров */
    -webkit-mask-image: -moz-linear-gradient(left, rgba(45, 137, 213, 1) 0, rgba(45, 137, 213, 1) 65%, rgba(45, 137, 213, 0.3) 75%, rgba(45, 137, 213, 0) 85%); /* для firefox 3.6+ */
    -webkit-mask-image: -o-linear-gradient(left, rgba(45, 137, 213, 1) 0, rgba(45, 137, 213, 1) 65%, rgba(45, 137, 213, 0.3) 75%, rgba(45, 137, 213, 0) 85%); /* для Opera 11.10+ */
    -webkit-mask-image: -ms-linear-gradient(left, rgba(45, 137, 213, 1) 0, rgba(45, 137, 213, 1) 65%, rgba(45, 137, 213, 0.3) 75%, rgba(45, 137, 213, 0) 85%); /* для IE10+ */
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="rgba(45,137,213,1) 0%, rgba(45,137,213,1) 65%", endColorstr="rgba(45,137,213,0.3) 75%, rgba(45,137,213,0) 85%"); /* для IE6-9 */
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    width: 170px;
}

.content section {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px #d4d0d0;
    min-height: 550px;
    padding: 20px;
    position: relative;
    width: 685px;
    z-index: 2;
}

h4 {
    color: #000;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.personalData, .checkboxesSubject {
    display: inline-block;
    margin-top: 20px;
}

.personalData {
    margin-top: 0;
    width: 606px;
}

form { padding-top: 20px; }

input[type="text"] {
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    min-height: 20px;
    padding: 1px 5px;
    width: 230px;
}

.gender { min-height: 22px; }

.genderLabel {
    background: white;
    display: inline;
    margin-left: 16px;
}

.genderForPrint { display: none; }

input[type="radio"] {
    margin: 0;
    margin-right: 3px;
    padding: 0;
    vertical-align: middle;
}

.genderRadio { margin-right: 172px; }

.personalData input[type="text"].hasDatepicker {
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: none;
    min-height: 20px;
    outline: none;
    padding: 1px 5px;
    width: 90px;
}

.personalData input[type="text"].hasDatepicker:hover, .personalData input[type="text"].validationFocus:focus {
    box-shadow: none;
    outline: none;
}

.ui-datepicker-trigger {
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    background: transparent;
    background-image: -moz-linear-gradient(top, #fdfdfd, #dfdfdf);
    background-image: -o-linear-gradient(top, #fdfdfd, #dfdfdf);
    background-image: -webkit-linear-gradient(top, #fdfdfd, #dfdfdf);
    background-image: -ms-linear-gradient(top, #fdfdfd, #dfdfdf);
    border: solid 1px #d9d9d9;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    height: 23px;
    margin-left: -20px;
    outline: none;
    padding: 3px;
    width: 21px;
}

.ui-datepicker-trigger:hover {
    background: transparent;
    background-image: -moz-linear-gradient(top, #dfdfdf 50%, #bdbdbd);
    background-image: -o-linear-gradient(top, #dfdfdf 50%, #bdbdbd);
    background-image: -webkit-linear-gradient(top, #dfdfdf 50%, #bdbdbd);
    background-image: -ms-linear-gradient(top, #dfdfdf 50%, #bdbdbd);
}

.icon {
    background-image: url(~/Content/calendar.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline;
    margin-left: 0;
    padding: 6px;
}

input[type="checkbox"] { vertical-align: bottom; }

hr {
    background-color: #f2f2f2;
    border: none;
    color: #f2f2f2;
    height: 1px;
    margin-top: 20px;
}

.studentsList { margin-top: 20px; }

.studentsList li {
    border-bottom-right-radius: 0;
    border-radius: 3px;
    border-top-right-radius: 0;
    display: inline-block;
    margin: -40px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 15px;
    position: relative;
    width: 155px;
}

.studentsList .studentsList-active {
    background: rgb(255, 255, 255);
    border: 1px solid #dfdfdf;
    border-right: none;
    z-index: 1000;
}

.studentsList-active span:last-child {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.subjects { margin-top: 20px; }

.subjectsColumn { width: 215px; }

.subjects span {
    display: block;
    margin-bottom: 10px;
}

.canvasDraw {
    margin-top: 15px;
    position: relative;
}

.totalChartLink {
    position: absolute;
    right: 0;
    top: 70px;
}

.subjectTitle {
    font-size: 1.2em;
    left: 20px;
    position: absolute;
    top: 70px;
}

.toolTip {
    background: transparent;
    background-image: -moz-linear-gradient(top, #fdfdfd, #fdfdfd, #dfdfdf);
    background-image: -o-linear-gradient(top, #fdfdfd, #fdfdfd, #dfdfdf);
    background-image: -webkit-linear-gradient(top, #fdfdfd, #fdfdfd, #dfdfdf);
    background-image: -ms-linear-gradient(top, #fdfdfd, #fdfdfd, #dfdfdf);
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #d4d0d0;
    color: #bdbdbd;
    position: absolute;
}