body {
    background-image: url('../Content/fond.png');
    margin: 0;
    padding: 0;
}

    body > section {
        width: 850px;
        margin: 0 auto;
        font-family: 'PT Sans', sans-serif;
    }

section header {
    width: 850px;
    color: #6f6a6a;
    padding: 10px 20px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.layout-column-1 {
    float: left;
    margin-right: 25px;
}

    .layout-column-1 h2 {
        display: inline;
        font-size: 1.4em;
        font-weight: normal;
        vertical-align: middle;
    }

.layout-column-2 {
    float: left;
    margin-top: 5px;
}

    .layout-column-2 span {
        display: inline;
        font-size: 0.9em;
    }

.layout-column-3 {
    float: right;
}

.button-print {
    display: inline-block;
    font-family: 'PT Sans',sans-serif;
    background: #dfdfdf; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#dfdfdf'); /* для IE6-9 */
    background: -webkit-linear-gradient(top, #fdfdfd, #dfdfdf); /* для webkit-браузеров */
    background: -moz-linear-gradient(top, #fdfdfd, #dfdfdf); /* для firefox 3.6+ */
    background: -o-linear-gradient(top, #fdfdfd, #dfdfdf); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd, #dfdfdf); /* для IE10+ */
    border: none;
    border-radius: 3px;
    padding: 2px 15px 0 0;
    box-shadow: 0 1px 1px #bdbdbd;
    font-size: 87.5%;
    text-shadow: 0 1px rgba(255,255,255,0.8);
    -webkit-user-select: none;
}

    .button-print:hover {
        background: #dfdfdf; /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#c8c8c8'); /* для IE6-9 */
        background: -webkit-linear-gradient(top, #f2f2f2, #c8c8c8); /* для webkit-браузеров */
        background: -moz-linear-gradient(top, #f2f2f2, #c8c8c8); /* для firefox 3.6+ */
        background: -o-linear-gradient(top, #f2f2f2, #c8c8c8); /* для Opera 11.10+ */
        background: -ms-linear-gradient(top, #f2f2f2, #c8c8c8); /* для IE10+ */
    }

    .button-print:active {
        border: none;
        background: #d9d9d9;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    }

.buttons {
    display: block;
    cursor: pointer;
}

.content {
    width: 850px;
    min-height: 300px;
    background: #f1f1f1; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff 0%, #fff 7%, #f1f1f1 20%', endColorstr='#f1f1f1 80%, #fff 93%, #fff 100%'); /* для IE6-9 */
    background: -webkit-linear-gradient(top, #fff 0%, #fff 7%, #f1f1f1 20%, #f1f1f1 80%, #fff 93%, #fff 100%); /* для webkit-браузеров */
    background: -moz-linear-gradient(top, #fff 0%, #fff 7%, #f1f1f1 20%, #f1f1f1 80%, #fff 93%, #fff 100%); /* для firefox 3.6+ */
    background: -o-linear-gradient(top, #fff 0%, #fff 7%, #f1f1f1 20%, #f1f1f1 80%, #fff 93%, #fff 100%); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%, #fff 7%, #f1f1f1 20%, #f1f1f1 80%, #fff 93%, #fff 100%); /* для IE10+ */
    border-top: 10px solid #2d89d5;
    box-shadow: 0 0 5px #d4d0d0;
    padding: 15px;
    padding-top: 0px;
    padding-right: 25px;
    margin-bottom: 50px;
}

    .content  .link {
        text-decoration:underline;
        padding: 0;
        margin-top: 0px;
        margin-left: 0px;
        color: #2d89d5;
        font-family: 'PT Sans',sans-serif;
        font-size: 13px;
    }

    .content .link:hover {
        cursor:pointer;
    }

header > span {
    padding: 0;
    margin-top: 0px;
    margin-left: -15px;
    color: #2d89d5;
    font-family: 'PT Sans',sans-serif;
    font-size: 13px;
}

h3 {
    padding: 0;
    margin: 0px;
    margin-top: 5px;
    margin-left: -15px;
    font-family: 'PT Sans',sans-serif;
    font-size: 1.3em;
    color: #000;
}

aside {
    float: left;
    width: 130px;
    margin-top: 20px;
    z-index: 0;
}

    aside .buttons {
        font-family: 'PT Sans',sans-serif;
        border-radius: 3px;
        padding: 7px 5px;
        box-shadow: 0 1px 5px #bdbdbd;
        font-size: 13px;
        text-align: left;
        min-width: 155px;
    }

.inputs input[type="text"]:focus {
    border: 1px solid #66b3f3;
    box-shadow: 0 0 5px #66b3f3;
}

.button-addStudent {
    background: #dfdfdf; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#dfdfdf'); /* для IE6-9 */
    background: -webkit-linear-gradient(top, #fdfdfd, #dfdfdf); /* для webkit-браузеров */
    background: -moz-linear-gradient(top, #fdfdfd, #dfdfdf); /* для firefox 3.6+ */
    background: -o-linear-gradient(top, #fdfdfd, #dfdfdf); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd, #dfdfdf); /* для IE10+ */
    text-shadow: 0 1px rgba(255,255,255,0.8);
}

    .button-addStudent:hover {
        background: #dfdfdf; /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#c8c8c8'); /* для IE6-9 */
        background: -webkit-linear-gradient(top, #f2f2f2, #c8c8c8); /* для webkit-браузеров */
        background: -moz-linear-gradient(top, #f2f2f2, #c8c8c8); /* для firefox 3.6+ */
        background: -o-linear-gradient(top, #f2f2f2, #c8c8c8); /* для Opera 11.10+ */
        background: -ms-linear-gradient(top, #f2f2f2, #c8c8c8); /* для IE10+ */
    }

    .button-addStudent:active {
        border: none;
        background: #d9d9d9;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    }

.button-saveСhanges {
    background: #dfdfdf; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d89d5', endColorstr='#2571b1'); /* для IE6-9 */
    background: -webkit-linear-gradient(top, #2d89d5, #2571b1); /* для webkit-браузеров */
    background: -moz-linear-gradient(top, #2d89d5, #2571b1); /* для firefox 3.6+ */
    background: -o-linear-gradient(top, #2d89d5, #2571b1); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top, #2d89d5, #2571b1); /* для IE10+ */
    text-shadow: 0 1px rgba(0,0,0,0.2);
    color: #fff;
    margin-top: 10px;
}

    .button-saveСhanges:hover {
        background: #dfdfdf; /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d89d5 0%', endColorstr='#2272b5 35%'); /* для IE6-9 */
        background: -webkit-linear-gradient(top, #2d89d5 0%, #2272b5 35%); /* для webkit-браузеров */
        background: -moz-linear-gradient(top, #2d89d5 0%, #2272b5 35%); /* для firefox 3.6+ */
        background: -o-linear-gradient(top, #2d89d5 0%, #2272b5 35%); /* для Opera 11.10+ */
        background: -ms-linear-gradient(top, #2d89d5 0%, #2272b5 35%); /* для IE10+ */
    }

    .button-saveСhanges:active {
        border: none;
        background: #2d89d5;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    }

.main-menu span:first-child {
    padding: 0;
    display:inline-block;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 170px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(45,137,213,1) 0%, rgba(45,137,213,1) 65%', endColorstr='rgba(45,137,213,0.3) 75%, rgba(45,137,213,0) 85%'); /* для IE6-9 */
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(45,137,213,1) 0%, rgba(45,137,213,1) 65%, rgba(45,137,213,0.3) 75%, rgba(45,137,213,0) 85%); /* для webkit-браузеров */
    -webkit-mask-image: -moz-linear-gradient(left, rgba(45,137,213,1) 0%, rgba(45,137,213,1) 65%, rgba(45,137,213,0.3) 75%, rgba(45,137,213,0) 85%); /* для firefox 3.6+ */
    -webkit-mask-image: -o-linear-gradient(left, rgba(45,137,213,1) 0%, rgba(45,137,213,1) 65%, rgba(45,137,213,0.3) 75%, rgba(45,137,213,0) 85%); /* для Opera 11.10+ */
    -webkit-mask-image: -ms-linear-gradient(left, rgba(45,137,213,1) 0%, rgba(45,137,213,1) 65%, rgba(45,137,213,0.3) 75%, rgba(45,137,213,0) 85%); /* для IE10+ */
}

.content section {
    float: right;
    min-height: 550px;
    width: 635px;
    background: rgb(255,255,255);
    box-shadow: 0 0 5px #d4d0d0;
    padding: 20px;
    position:relative;
    z-index: 2;
}

h4 {
    padding: 0;
    margin: 0;
    color: #000;
    font-weight: normal;
    font-size: 1.1em;
}

.personalData, .checkboxesSubject {
    margin-top: 20px;
    display: inline-block;
}

.topgallantHeader {
    float: left;
}

.topgallantOperation {
    float: right;
}

.labels {
    float: left;
    margin-top: 3px;
    margin-right: 20px;
}

    .labels label {
        display: block;
        min-height: 26px;
        margin-bottom: 12px;
        vertical-align: middle;
        padding: 0;
        font-size: 87.9%;
    }

.inputs {
    float: left;
}

    .inputs input[type="text"], input[type="date"] {
        display: block;
        margin-bottom: 13.5px;
        min-height: 20px;
        vertical-align: middle;
        width: 200px;
        border: 1px solid #ccc;
        padding: 1px 5px;
        background: white;
        border-radius: 3px;
    }

    .inputs span {
        display: block;
        margin-bottom: 13.5px;
        min-height: 20px;
        vertical-align: middle;
        width: 200px;
        padding: 2px 10px;
        padding-left: 0;
    }

span label {
    display: inline;
    font-size: 83%;
    background: white;
    margin-right: 15px;
}

input[type="radio"] {
    min-height: 4px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-right: 3px;
}

input[type="date"] {
    width: 100px;
}

hr {
    margin-top: 20px;
    background-color: #f2f2f2;
    color: #f2f2f2;
    border: none;
    height: 1px;
}

.checkboxesSubject1, .checkboxesSubject2, .checkboxesSubject3 {
    float: left;
}

.studentsList {
    margin-top: 20px;
}

    .studentsList li {
        position:relative;
        width: 155px;
        padding: 5px;
        padding-top: 3px;
        margin: -40px;
        padding-left: 15px;
        margin-bottom: 5px;
        display: inline-block;
        border-radius: 3px;
        border-top-right-radius:0;
        border-bottom-right-radius:0;
    }

.studentsList-active {
    background: rgb(255,255,255) !important;
    border:1px solid #dfdfdf !important;
    border-right:none !important;
    z-index:1000 !important;
}

    .studentsList-active span:last-child {
        text-decoration: none !important;
        color: rgb(0, 0, 0) !important;
    }

.checkboxesSubject label {
    display: block;
    margin-right: 70px;
    margin-bottom: 10px;
    font-size: 87.9%;
    vertical-align: top;
}
