body {
    margin: 0;
    padding: 0;
}

body > section {
    font-family: "PT Sans", sans-serif;
    margin: 0 auto;
    width: 793px;
}

.sizeMain { font-size: 0.879em; }

.floatRight { float: right; }

.floatLeft { float: left; }

section header {
    color: #6f6a6a;
    padding: 10px 20px;
    width: 793px;
}

.canvasDraw {
    margin-top: 15px;
    position: relative;
}

.groupForPrint {
    display: block;
}

.subjectTitle {
    font-size: 1.2em;
    left: 20px;
    position: absolute;
    top: 70px;
}

header span { display: none; }

.header { display: none; }

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.content {
    border-top: 10px solid #2d89d5;
    margin-bottom: 50px;
    min-height: 300px;
    padding: 15px;
    padding-right: 25px;
    padding-top: 0;
}

.content .link { display: none; }

h3 {
    color: #000;
    font-family: "PT Sans", sans-serif;
    font-size: 1.3em;
    margin: 0;
    margin-left: -15px;
    margin-top: 5px;
    padding: 0;
    text-align: center;
}

aside { display: none; }

.content section {
    padding: 20px;
    position: relative;
}

h4 {
    color: #000;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.personalData, .checkboxesSubject {
    display: inline-block;
    margin-top: 20px;
}

form { padding-top: 20px; }

.personalData input[type="text"], input[type="date"] {
    background: white;
    border: 1px solid white;
    min-height: 20px;
    padding: 1px 5px;
    width: 230px;
}

.personalData .validation { visibility: hidden; }

.gender { min-height: 22px; }

.genderLabel {
    display: inline;
    margin-left: 16px;
    visibility: hidden;
}

.genderForPrint {
    display: inline;
    left: 154px;
    padding: 0;
    position: absolute;
    top: 231px;
}


input[type="radio"] {
    margin: 0;
    margin-right: 3px;
    padding: 0;
    vertical-align: middle;
}

input[type="text"].hasDatepicker {
    border: 1px solid white;
    margin-right: 66px;
    min-height: 20px;
    padding: 3px 0 0 0;
    width: 90px;
}

.ui-datepicker-trigger { display: none; }

.field {
    clear: both;
    margin-bottom: 13.5px;
    text-align: right;
    vertical-align: middle;
}

hr { display: none; }

.personalData {
    margin-top: 0;
    width: 575px;
}

.personalData:nth-child(2) { width: 496px; }

.personalData label {
    float: left;
    font-size: 87.9%;
    margin-top: 5px;
}

.subjects { margin-top: 20px; }

.subjectsColumn { width: 200px; }

.subjects span {
    display: block;
    margin-bottom: 10px;
}

.canvasDraw { margin-left: 30px; }