body {
    margin: 0;
    padding: 0;
}

    body > section {
        width: 793px;
        margin: 0 auto;
        font-family: "PT Sans", sans-serif;
    }

.sizeMain {
    font-size: 0.879em;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

section header {
    width: 793px;
    color: #6f6a6a;
    padding: 10px 20px;
}

header span {
    display: none;
}

.header {
    display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    border-top: 10px solid #2d89d5;
    min-height: 300px;
    padding: 15px;
    padding-top: 0;
    padding-right: 25px;
    margin-bottom: 50px;
}

    .content .link {
        display: none;
    }

h3 {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-left: -15px;
    font-family: "PT Sans",sans-serif;
    font-size: 1.3em;
    color: #000;
    text-align: center;
}

aside {
    display: none;
}

.content section {
    padding: 20px;
    position: relative;
}

h4 {
    padding: 0;
    margin: 0;
    color: #000;
    font-weight: normal;
    font-size: 1.1em;
}

.personalData, .checkboxesSubject {
    margin-top: 20px;
    display: inline-block;
}


.personalData {
    margin-top: 0;
}

form {
    padding-top: 20px;
}

.personalData input[type="text"], input[type="date"] {
    min-height: 20px;
    width: 230px;
    border: 1px solid white;
    padding: 1px 5px;
    background: white;
}

.personalData .validation {
    visibility: hidden;
}

.gender {
    min-height: 22px;
}

.genderLabel {
    display: inline;
    visibility: hidden;
    margin-left: 16px;
}

.genderForPrint {
    display: inline;
    position: absolute;
    top: 190px;
    left: 154px;
    margin: 0;
    padding: 0;
}


input[type="radio"] {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-right: 3px;
}

input[type="text"].hasDatepicker {
    margin-right: 66px;
    padding: 3px 0 0 0;
    width: 90px;
    min-height: 20px;
    border: 1px solid white;
}

.ui-datepicker-trigger {
    display:none;
}

.field {
    clear: both;
    text-align: right;
    margin-bottom: 13.5px;
    vertical-align: middle;
}

hr {
    display: none;
}

.personalData {
    width: 575px;
}

    .personalData:nth-child(2) {
        width: 496px;
    }

    .personalData label {
        float: left;
        margin-top: 5px;
        font-size: 87.9%;
    }

.subjects {
    margin-top: 20px;
}

.subjectsColumn {
    width: 200px;
}

.subjects span {
    display: block;
    margin-bottom: 10px;
}

.canvasDraw {
    margin-left: 30px;
}
