body {
    margin: 0;
    padding: 0;
}

    body > section {
        width: 793px;
        margin: 0 auto;
        font-family: 'PT Sans', sans-serif;
    }

section header {
    width: 793px;
    color: #6f6a6a;
    padding: 10px 20px;
}

header span {
    display:none;
}

.header {
    display:none;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.content {
    border-top: 10px solid #2d89d5;
    min-height: 300px;
    padding: 15px;
    padding-top: 0;
    padding-right: 25px;
    margin-bottom: 50px;
}

    .content  .link {
        display:none;
    }

h3 {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-left: -15px;
    font-family: 'PT Sans',sans-serif;
    font-size: 1.3em;
    color: #000;
    text-align:center;
}

aside {
   display:none;
}

.content section {
    float: left;
    padding: 20px;
    position:relative;
}

h4 {
    padding: 0;
    margin: 0;
    color: #000;
    font-weight: normal;
    font-size: 1.1em;
}

.personalData, .checkboxesSubject {
    margin-top: 20px;
    display: inline-block;
}

.topgallantHeader {
    float: left;
}

.topgallantOperation {
    float: right;
}

.personalData {
    margin-top: 0;
}

form {
    padding-top: 20px;
}
    .personalData input[type="text"], input[type="date"] {
        min-height: 20px;
        width: 200px;
        border:white;
        padding: 1px 5px;
        background: white;
    }

    .personalData .validation {
        visibility:hidden;
    }

.gender {
    min-height: 22px;
}

.gender span {
    float: right;
}

span label {
    display: inline;
    font-size: 83%;
    background: white;
    margin-left: 16px;
}

input[type="radio"] {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-right: 3px;
}

input[type="date"] {
    width: 130px;
    margin-right: 23px;
    padding: 3px 0 0 0;
}

.field {
    clear: both;
    text-align: right;
    margin-bottom: 13.5px;
    vertical-align: middle;
}

.personalData {
    width: 575px;
}

    .personalData:nth-child(2) {
        width: 294px;
    }

    .personalData label {
        float: left;
        margin-top: 5px;
        font-size: 87.9%;
    }

.checkboxesSubject1, .checkboxesSubject2, .checkboxesSubject3 {
    float: left;
}

.checkboxesSubject label {
    display: block;
    margin-right: 70px;
    margin-bottom: 10px;
    font-size: 87.9%;
}

